/* Основнне цвета
первичный цвет текста #757575;
вторичный цвет текста #212121;
цвет акцента #2196F3;

цвет фона основной (секций) #F5F4FA;
цвет фона героя и футера #2F303A;
цвет фона хедера и фона карточек #FFFFFF;
цвет иконок #AFB1B8
 */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --bcg-hero-footer-color: #2f303a;
  --icon-color: #afb1b8;
  --main-gap: 30px;
  --secondary-gap: 10px;
  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bcg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-fill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-border: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* html {
  box-sizing: border-box;
}

  *,
  *::break-before,
  *::after {
    box-sizing: inherit;
  }
*,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
}

header {
  border-bottom: 1px solid #ececec;
}

/* Оформление хедера */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 4px solid black; */
}

.page-header {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-black {
  color: #000000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav a {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition: var(--transition-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav a.current {
  color: var(--accent-color);
}

.site-nav a.current::after {
  content: " ";
  position: absolute;
  display: block;
  bottom: 0px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  margin-bottom: -1px;
}

.site-nav {
  display: flex;
  /* outline: 1px solid green; */
}

.main-nav {
  margin-left: 93px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.head-contacts {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}

.head-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.head-contacts-item {
  display: flex;
}

.email,
.phone {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: var(--transition-color);
}

.email:hover,
.phone:hover,
.email:focus,
.phone:focus {
  color: var(--accent-color);
}

.head-contacts-icon:hover,
.head-contacts-icon:focus {
  fill: var(--accent-color);
}

.head-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
  align-items: center;

  transition: var(--transition-fill);
}

.envelope {
  display: flex;
  width: 16px;
  height: 12px;
  /* justify-content: center;
  align-items: center; */
}

.smartphone {
  width: 10px;
  height: 16px;
  /* justify-content: center;
  align-items: center; */
}

/* Оформление основного контента */

/* Дополнительные заголовки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Оформление героя */

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0px;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  max-width: 1600px;
  background-color: var(--bcg-hero-footer-color);
  /* outline: 3px solid blue; */
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  /* background-color: tomato; */
  /* outline: 3px solid violet; */
}

.hero-button {
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;

  /* outline: 3px solid violet; */
}

/* Оформление секции Наши преимущества */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(2) {
  padding-bottom: 0px;
}

.features {
  display: flex;
}

.feature-item {
  /* display: flex; */
  width: 270px;
  /* outline: 2px solid red; */
}

.feature-item:not(:last-child) {
  margin-right: var(--main-gap);
}

.section__title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-text {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.feature-title {
  margin-bottom: var(--secondary-gap);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: var(--main-gap);
  background-color: #f5f4fa;
}

.feature-item-icon:not(last-child) {
  margin-right: var(--main-gap);
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 25px 100px 25px 100px; */
}

/* Оформление секции Чем мы занимаемся */

.about-us {
  display: flex;
}

.about-us-photo:not(:last-child) {
  margin-right: var(--main-gap);
}

.about-us-thumb {
  position: relative;
}

.about-us-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.about-us-item {
  width: 370px;
  padding: 27px;

  position: absolute;
  bottom: 0px;

  background: rgba(47, 48, 58, 0.8);
}

/* Оформление секции Наша команда */

.section--white {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list__item {
  margin-right: var(--main-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-list__item:last-child {
  margin-right: 0px;
}

.team-list__photo {
  display: block;
}

.team-list__content {
  padding-top: var(--main-gap);
  padding-bottom: 30px;
}

.team-list__title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: var(--secondary-gap);
}

.team-list__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Оформление секции Наша команда */
/* Социальные сети членов команды */

.social-links {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}

.social-links__gap:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: var(--icon-color);

  transition: var(--transition-bcg), var(--transition-fill);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/* .social-link__icon {
} */

/* Секция Постоянные клиенты */

.client-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), var(--transition-fill);
}

.client:hover,
.client:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client-icon-item:not(:last-child) {
  margin-right: var(--main-gap);
}

.client-icon {
  width: 106px;
  height: 60px;
}

/* Офлрмление футера */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bcg-hero-footer-color);
}

.page-footer {
  display: flex;
  align-items: baseline;
}

.adress-info {
  margin-right: 70px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.logo-white {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  /* background-color: tomato; */
}

address {
  font-style: normal;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.adress-item:not(:last-child) {
  margin-bottom: 7.78px;
}

.post-adreess {
  margin-bottom: 7.78px;
  color: #ffffff;
}

.email-footer,
.phone-footer {
  color: rgba(255, 255, 255, 0.6);

  /* background-color: violet; */
}

.email-footer:hover,
.phone-footer:hover,
.email-footer:focus,
.phone-footer:focus {
  color: var(--accent-color);
  transition: var(--transition-color);
}

.connect {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.social-links--top {
  margin-top: 20px;
}

.social-link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.send {
  margin-left: 93px;
}

.send-title {
  display: block;

  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.send-items {
  display: flex;
}

.input-send {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background: var(--bcg-hero-footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.btn-send {
  display: flex;
  align-items: flex-end;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;

  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn-send span {
  margin-right: 10px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.btn-send:hover,
.btn-send:focus {
  cursor: pointer;
}

/* .icon-send {
} */

/* Портфолио */

.portf-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portf-nav > .item:not(:last-child) {
  margin-right: 8px;
}

.portf-btn {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;

  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  transition: var(--transition-color), var(--transition-bcg),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-btn:hover,
.portf-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.current-portf {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Блок Проекты в секции Наши проекты*/

.project-set {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin-right: calc(-1 * var(--main-gap));
  margin-bottom: calc(-1 * var(--main-gap));
}

.project-set__item {
  flex-basis: calc((100% - 3 * var(--main-gap)) / 3);
  margin-right: var(--main-gap);
  margin-bottom: var(--main-gap);
}

a.project-set__link {
  display: block;
}

/* .project-card {
} */

.project-card__thumb {
  position: relative;
  overflow: hidden;
}

.project-set__link:hover .project-card__overlay,
.project-set__link:focus .project-card__overlay {
  opacity: 1;
  transform: translateY(0);
}

.project-set__link:hover,
.project-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  position: absolute;
  display: block;
  padding: 63px 24px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;

  color: #ffffff;
}

.project-card__content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-card__title {
  margin-bottom: 4px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-card__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;

  width: 30px;
  height: 30px;

  border: none;
  background: none;
}

.btn-modal-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  fill: #000000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  fill: var(--accent-color);
  transition: var(--transition-fill);
}

.order {
  display: flex;
  flex-direction: column;
}

.order-title {
  margin-bottom: 12px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.order-label {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.label-text {
  margin-bottom: 4px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: #757575;
}

.order-input {
  position: relative;
  width: 448px;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-icon {
  display: inline-block;
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

.order-input:focus-within {
  border-color: #2196f3;
  transition: var(--transition-border);
}

.order-label:focus-within > .form-icon {
  fill: var(--accent-color);
  transition: var(--transition-fill);
}

textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

textarea:focus-within {
  border-color: #2196f3;
  transition: var(--transition-border);
}

::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox-text {
  margin-left: 8.38px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox-text > a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  text-decoration-line: underline;
  color: #2196f3;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  background-image: url("../images/check-icon-1.svg");
  background-size: contain;
}

.check-input:checked + .check-icon {
  background-image: url("../images/check-icon-2.svg");
  background-size: contain;
}

.order-btn {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* border: none; */
  outline: none;
}

.order-btn:hover,
.order-btn:focus {
  cursor: pointer;
}
