.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  // background: rgba(54, 54, 238, 0.4);

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    background: red;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    background: tomato;
  }
}
