.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &:nth-child(2) {
    padding-bottom: 0px;
  }

  .section__title {
    margin-bottom: $gap-main;
    text-align: center;

    color: $color-text-secondary;
  }

  .section__text {
    color: $color-text-primary;
  }

  .section--white {
    background-color: #f5f4fa;
  }
}
