.about-us {
  display: none;

  .about-us__card:not(:last-child) {
    margin-right: var(--main-gap);
  }

  .about-us__thumb {
    position: relative;
  }

  .about-us__textbox {
    width: 370px;
    padding: 27px;

    position: absolute;
    bottom: 0px;

    background: rgba(47, 48, 58, 0.8);
  }

  .about-us__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
}
