.team-list__item {
  margin-bottom: $gap-main;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-list__photo {
  display: block;
}

.team-list__content {
  margin-top: $gap-main;
}

.team-list__title {
  margin-bottom: $gap-secondary;

  color: $color-text-secondary;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__text {
  color: $color-text-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
