.client {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client__item {
  display: flex;

  flex-basis: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

.client__link {
  padding: 16px 52px;

  fill: $color-icon;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), $transition-fill;

  &:hover,
  &:focus {
    fill: $color-accent;
    border: 1px solid $color-accent;
  }
}

.client__icon {
  width: 100px;
  height: 60px;
}
