.social-links {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  justify-content: center;
  align-items: center;

  .social-links__gap:not(:last-child) {
    margin-right: 10px;
  }

  // .social-links--top {
  //   margin-top: 20px;
  // }

  .social-link--footer {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: $color-icon;

  transition: $transition-bcg, $transition-fill;

  &:hover,
  &:focus {
    background-color: $color-accent;
    fill: #ffffff;
  }

  .social-link--footer {
    background: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  }
}

/* .social-link__icon {
} */
