body {
  color: $color-text-primary;
  font-family: $font-family-main;
  font-style: $font-style-main;
  font-weight: $font-weight-main;
  font-size: $font-size-main;
  letter-spacing: $letter-spacing-main;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
